/* Dropdown */
.dropbtn {
    display: flex;
    text-align: left;
    text-decoration: none;
    padding: 6px 6px;
}

li.drdo {
    position: relative;
}

.drdo-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
    background-color: #ffa100;
    min-width: 100px;
    z-index: 5;
}

.drdo-content a.dr-cont {
    color: #4747FE;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drdo-content a:hover {background-color: #f1f1f1}

.drdo:hover .drdo-content {
    display: block;
}
