{% extends "base_generic.html" %}

{% block content %}
  <script type="text/javascript">
    $(function() {
      $("#sortedTable").tablesorter({
        widgets: ['stickyHeaders', 'filter'],
      });

      $('input.timepicker').timepicker({
        timeFormat: 'HH:mm',
        interval: 15,
        minTime: new Date(0, 0, 0, 0, 0, 0),
        maxTime: new Date(0, 0, 0, 8, 0, 0),
        startTime: new Date(0, 0, 0, 0, 0 ,0),
        defaultTime: 'value',
        dropdown: true,
        dynamic: false,
        scrollbar: false,
      });

      $('input.checkbox').change(function(){
        $(this).parent().children(":first").prop('disabled', $(this).prop('checked') == false);
      }).change();

    });
  </script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/switch.css' %}">

  {% load tdelta %}

  {% if checked_time %}
    <p> {{ checked_time }} </p>
    {% for item in checked_time %}
      <p> item in checked_time: {{ item }}</p>
    {% endfor %}
  {% else %}
    <p>  K H Ô N G checked_time </p>
  {% endif %}
  <hr>

  {% if event %}
    <p> -event- {{ event }} </p>
    {% for k, v in event.items %}
      <p> k, v in event: {{ k }}={{ v }}  </p>
    {% endfor %}
  {% else %}
    <p>  K H Ô N G event </p>
  {% endif %}
  <hr>

  {% if log_list %}
    <form action="" method="post">
      {% csrf_token %}
      <table id="sortedTable" class="tablesorter">
        <thead><tr>
          <th> Ngày </th>
          <th> Họ và Tên </th>
          <th> Nơi làm việc </th>
          <th class="filter-false" style="width: 80px"> Ca Sáng </th>
          <th class="filter-false" style="width: 80px"> Ca Chiều </th>
          <th class="filter-false" style="width: 100px"> Tăng Ca </th>
          <th class="filter-false" style="width: 80px"> Trực đêm </th>
        </tr></thead>
        <tbody>
          {% for log in log_list %}
            <tr>
              <td> {{ log.date|date:"Y/m/d" }} </td>
              <td> {{ log.staff.MaNV }} </td>
              <td> {{ log.project|default_if_none:"Văn Phòng" }} </td>
              <td><div class="switch">
                {% if log.shift1 %}
                  <input type="checkbox" class="switch-checkbox" checked
                  name="shift1-{{log.staff.id}}" id="shift1-{{log.staff.id}}">
                {% else %}
                  <input type="checkbox" class="switch-checkbox"
                  name="shift1-{{log.staff.id}}" id="shift1-{{log.staff.id}}">
                {% endif %}
                <label class="switch-label" for="shift1-{{log.staff.id}}">
                  <span class="switch-inner"></span>
                  <span class="switch-switch"></span>
                </label>
              </div></td>
              <td><div class="switch">
                {% if log.shift2 %}
                  <input type="checkbox" class="switch-checkbox" checked
                  name="shift2-{{log.staff.id}}" id="shift2-{{log.staff.id}}">
                {% else %}
                  <input type="checkbox" class="switch-checkbox"
                  name="shift2-{{log.staff.id}}" id="shift2-{{log.staff.id}}">
                {% endif %}
                <label class="switch-label" for="shift2-{{log.staff.id}}">
                  <span class="switch-inner"></span>
                  <span class="switch-switch"></span>
                </label>
              </div></td>
              {% if log.shift3 %}
                <td class="non"><input class="timepicker" disabled
                  name="shift3-{{ log.staff.id }}"
                  value="{{ log.shift3|tdelta }}"/>
                  <input class="checkbox" type="checkbox">
                </td>
              {% else %}
                <td><input class="timepicker"
                  name="shift3-{{ log.staff.id }}">
                  <input class="checkbox" type="checkbox">
                </td>
              {% endif %}
              <td><div class="switch">
                {% if log.over9 %}
                  <input type="checkbox" class="switch-checkbox" checked
                  name="over9-{{log.staff.id}}" id="over9-{{log.staff.id}}">
                {% else %}
                  <input type="checkbox" class="switch-checkbox"
                  name="over9-{{log.staff.id}}" id="over9-{{log.staff.id}}">
                {% endif %}
                <label class="switch-label" for="over9-{{log.staff.id}}">
                  <span class="switch-inner"></span>
                  <span class="switch-switch"></span>
                </label>
              </div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="Chấm công">
    </form>
  {% endif %}

{% endblock %}
