{% extends "base_generic.html" %}

{% block content %}
  {% if msg_list %}
    {% for tb in msg_list %}
    <h4 style="color: red"> THÀNH CÔNG </h4>
    <h6> Thiết bị <strong>{{ tb.MaTBTC }}</strong> thay đổi trạng thái thành công</h6>
    {% endfor %}
  {% else %}
    {% if completed_list|length > 0 or err_list|length > 0 %}
      {% if completed_list|length > 0 %}
        <h4 style="color: blue"> THÀNH CÔNG </h4>
        {% for tb_doc in completed_list %}
          <h6>Thiết bị <strong>{{ tb_doc.0 }}</strong> được cập nhật theo văn bản <strong>{{ tb_doc.1 }} thành công</strong></h6>
        {% endfor %}
      {% endif %}
      {% if err_list|length > 0 %}
        <h4 style="color: red"> LỖI </h4>
        {% for err_tb_doc in err_list %}
          {% if err_tb_doc.0 == "BG" %}
            <h6>Thiết bị <strong>{{ err_tb_doc.1 }}</strong> đang được Bàn giao theo văn bản <strong>{{ err_tb_doc.2 }}</strong>, nên chỉ có thể <strong>Nhập Kho</strong> hoặc <strong>Chuyển tiếp</strong></h6>
          {% elif "NK" in err_tb_doc.0 %}
            <h6>Thiết bị <strong>{{ err_tb_doc.0 }}</strong> đang ở Kho, vui lòng cấp phát TB với <strong>Văn bản Bàn giao</strong></h6>
          {% else %}
          <h6>{{ err_tb_doc }}</h6>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
      <script type="text/javascript">
        $(function() {
          $("#TBTCTable").tablesorter({
            sortList: [[4,0],[5,0],[7,0]],
            widgets: ['stickyHeaders', 'filter'],
          });

          $(".tablesorter").tablesorter({
            widgets: ['stickyHeaders', 'math'],
            widgetOptions: {
              math_mask     : '',
            }
          });

          $('#my-select').multiSelect({
            selectableOptgroup: true,
            selectableHeader: "<div class='custom-header'>Đang sử dụng</div>",
            selectionHeader: "<div class='custom-header'>Không sử dụng được</div>",
           });

        });
      </script>

      <h3>THỐNG KÊ THIẾT BỊ THI CÔNG NGÀY {{ date_db|date:"d/m/Y" }}</h3>
      <div style="padding: 10px 0 15px 15px">

        <form action="" method="post">
          {% csrf_token %}
          <p>Ngày: <input type="date" name="dateinput" id="myDate"
            value="{{ date_db|date:"Y-m-d" }}" required
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
          <input type="submit" value="Tìm"/></p>
        </form>

        <div class="row">
          <div class="col-xs-2">
            <form  action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="prev-input" id="prev-input" value="{{ date_db|date:"Y-m-d" }}">
              <input type="submit" class="btn btn-outline-primary" value="Tìm ngày hôm trước"/>
            </form>
          </div>
          <div class="col-xs-2">&nbsp;&nbsp;</div>
          <div class="col-xs-2">
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="next-input" id="next-input" value="{{ date_db|date:"Y-m-d" }}">
              <input type="submit" class="btn btn-outline-primary" value="Tìm ngày hôm sau"/>
            </form>
          </div>
        </div>
      </div>

      <form action="export_tbtc_excel" method="post">
        {% csrf_token %}
        <input type="hidden" name="date-export" id="date-export" value="{{ date_db|date:"Y-m-d" }}">
        <input type="submit" class="btn btn-success" value="Xuất file Excel" />
      </form>

      <div style="display: inline-flex; width: 100%">
        {% if tbtc_type_count %}
          <div style="margin-right: 20px">
            <h3> Thống kê theo Thiết bị </h3>
            <table id="TsumTable" class="tablesorter">
              <thead><tr>
                <th> Mã TB </th>
                <th> Tên TB </th>
                <th> Số lượng </th>
              </tr></thead>
              <tfoot><tr>
                <th colspan="2"> Tổng </th>
                <th data-math="col-sum">col-sum</th>
              </tr></tfoot>
              <tbody>
                {% for tb, count in tbtc_type_count.items %}
                  <tr>
                    <td>{{ tb.0.short_text }}.{{ tb.1.short_text }}</td>
                    <td>{{ tb.0 }}, {{ tb.1 }}</td>
                    <td>{{ count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        {% if tbtc_site_count %}
          <div style="margin-right: 20px">
            <h3> Thống kê theo Công trình </h3>
            <table id="PsumTable" class="tablesorter">
              <thead><tr>
                <th> Công Trình </th>
                <th> Số lượng TB </th>
              </tr></thead>
              <tfoot><tr>
                <th> Tổng </th>
                <th data-math="col-sum">col-sum</th>
              </tr></tfoot>
              <tbody>
                {% for p, count in tbtc_site_count.items %}
                  {% if count > 0 %}
                    {% if p == 'Kho' %}
                      <tr>
                        <td><b>{{ p }}</b></td>
                        <td><b>{{ count }}</b></td>
                      </tr>
                    {% else %}
                      <tr>
                        <td>{{ p }}</td>
                        <td>{{ count }}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        {% if tbtc_status %}
          <div>
            <h3> Thống kê theo Tình trạng  </h3>
            <table id="SsumTable" class="tablesorter">
              <thead><tr>
                <th> Tình trạng </th>
                <th> Số lượng TB </th>
              </tr></thead>
              <tfoot><tr>
                <th> Tổng </th>
                <th data-math="col-sum">col-sum</th>
              </tr></tfoot>
              <tbody>
                {% for s, count in tbtc_status.items %}
                  <tr>
                    {% if s == 'Không sử dụng được' and count != 0 %}
                      <td style="color: red">{{ s }}</td>
                      <td style="color: red">{{ count }}</td>
                    {% else %}
                      <td>{{ s }}</td>
                      <td>{{ count }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>

      {% if tbtc_site_list %}
        <hr>
        <h3>TRẠNG THÁI THIẾT BỊ</h3>
        <form action="" method="post">
          {% csrf_token %}
          <select multiple="multiple" id="my-select" name="tbtc-repair">
            {% for pj, tbs in tbtc_site_list.items %}
              {% if tbs|length > 0 %}
                {% if pj == 'Kho' %}
                  <optgroup label='{{pj}}'>
                    {% for tb in tbs %}
                      {% if 'Hư hỏng' in tb.status %}
                        <option value='{{ tb.id }}' selected>{{ tb.MaTBTC }}</option>
                      {% else %}
                        <option value='{{ tb.id }}'>{{ tb.MaTBTC }}</option>
                      {% endif %}
                    {% endfor %}
                  </optgroup>
                {% else %}
                  <optgroup label='{{pj}}'>
                    {% for tb in tbs %}
                      {% if 'Hư hỏng' in tb.unit.status %}
                        <option value='{{ tb.unit.id }}' selected>{{ tb.unit.MaTBTC }}</option>
                      {% else %}
                        <option value='{{ tb.unit.id }}'>{{ tb.unit.MaTBTC }}</option>
                      {% endif %}
                    {% endfor %}
                  </optgroup>
                {% endif %}
              {% endif %}
            {% endfor %}
          </select>
          <input type="hidden" name="dateinput"
          value="{{ date_db|date:"Y-m-d" }}">
          <input type="submit" value="Thay đổi trạng thái"/></p>
        </form>
      {% endif %}

      {% if tbtc_info %}
        <hr>
        <h3> Danh sách Thiết bị Thi công </h3>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="dateinput"
          value="{{ date_db|date:"Y-m-d" }}">
          <div style="display: inline-block; width: 100%;">
            <input style="float: right" type="submit" value="Cập nhật cho Thiết bị được chọn"/></div>
          <table id="TBTCTable" class="tablesorter">
            <thead><tr>
              <th> Mã Thiết bị </th>
              <th> Tên </th>
              <th> Nhãn hiệu </th>
              <th> Thời gian Sử dụng </th>
              <th> Tình trạng </th>
              <th> Công trình </th>
              <th> Người quản lý</th>
              <th> Văn bản giao </th>
              <th class="filter-false"> Văn bản tiếp theo </th>
            </tr></thead>
            <tbody>
              {% for tb, infos in tbtc_info.items %}
                {% if infos|length > 0 %}
                  {% for info in infos %}
                    {% if info.d_return.date_crt != date_db %}
                      <tr>
                    {% else %}
                      <tr class="non">
                    {% endif %}
                      <td><a href="{{ tb.get_manage_url }}">{{ tb.MaTBTC }}</a></td>
                      <td>{{ tb.type }}</td>
                      <td>{{ tb.brand }}</td>
                      <td>{{ tb.d_in|timesince:date_db }}</td>
                      {% if tb.status != 'Tốt' %}
                        <td style="color: red">{{ tb.status }}</td>
                      {% else %}
                        <td>{{ tb.status }}</td>
                      {% endif %}
                      <td><a href="{{ info.d_receive.project.get_detail_url }}">
                        {{ info.d_receive.project }}</a></td>
                      <td><a href="{% url 'staff_detail' info.d_receive.sponsor.id %}">
                        {{ info.d_receive.sponsor }}</a></td>
                      <td>{{ info.d_receive }}, ngày {{ info.d_receive.date_crt|date:"d/m/Y" }}</td>
                      {% if info.d_return == None %}
                        <td><select name="next-doc">
                          <option selected value="None"> -- </option>
                          {% for doc in doc_list %}
                            {% if doc != info.d_receive %}
                              <option value="{{tb.MaTBTC}}={{doc}}">{{ doc }}</option>
                            {% endif %}
                          {% endfor %}
                       </select></td>
                      {% else %}
                        <td>{{ info.d_return }}  ngày {{ info.d_return.date_crt|date:"d/m/Y" }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endfor %}
              {% for tb in tbtc_site_list.Kho %}
                <tr>
                  <td><a href="{{ tb.get_manage_url }}">{{ tb.MaTBTC }}</a></td>
                  <td>{{ tb.type }}</td>
                  <td>{{ tb.brand }}</td>
                  <td>{{ tb.d_in|timesince:date_db }}</td>
                  {% if tb.status != 'Tốt' %}
                    <td style="color: red">{{ tb.status }}</td>
                  {% else %}
                    <td>{{ tb.status }}</td>
                  {% endif %}
                  <td> Kho </td>
                  <td class="non"></td>
                  <td class="non"></td>
                  <td><select name="next-doc">
                    <option selected value="None"> -- </option>
                    {% for doc in doc_list %}
                      {% if doc != info.d_receive %}
                        <option value="{{tb.MaTBTC}}={{doc}}">{{ doc }}</option>
                      {% endif %}
                    {% endfor %}
                 </select></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
