{% extends "base_generic.html" %}

{% block content %}
  <script type="text/javascript">
    $(function() {
      $("#sortedTable").tablesorter({
        sortList: [[2,0],[3,0]],
        widgets: ['stickyHeaders', 'filter'],
      });
    });
  </script>

  {% if p_staffs or o_staffs %}
    <h3> Danh sách nhân sự </h3>
    <table id="sortedTable" class="tablesorter">
      <thead><tr>
        <th> Mã NV </th>
        <th> Họ và Tên </th>
        <th> Nơi làm việc </th>
        <th> Chức vụ </th>
        <th> Bộ phận </th>
        {% if user.is_authenticated %}
          <th> Vào 1 </th>
          <th> Ra 1 </th>
          <th> Vào 2 </th>
          <th> Ra 2 </th>
          <th> Vào 3 </th>
          <th> Ra 3 </th>
          <th> Trực đêm </th>
        {% endif %}
      </tr></thead>
      <tbody>
        <!-- PROJECT -->
        {% for staff, projects_checked in p_staffs.items %}
          <tr>
            <td rowspan="{{projects_checked|length}}">{{ staff.MaNV }}</td>
            <td rowspan="{{projects_checked|length}}">
              <a href="{% url 'staff_detail' staff.pk %}">{{ staff.name }}</a>
            </td>
            {% for project, logs in projects_checked.items %}
              {% if forloop.first is not True %} <tr class="tablesorter-childRow"> {% endif %}
              <td><a href="{% url 'project_detail' project.id %}"> {{ project }} </a></td>
              <td>{{ staff.position }}</td>
              <td>{{ staff.deparment }}</td>

              {% if user.is_authenticated %}
                {% if user in project.allowed_users.all or user.is_superuser %}
                  {% if logs|length > 0 %}
                    {% for log in logs %}
                      {% if log.in1 %}
                        <td> {{ log.in1|time:"H:i" }} </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                      {% if log.out1 %}
                        <td> {{ log.out1|time:"H:i" }} </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                      {% if log.in2 %}
                        <td> {{ log.in2|time:"H:i" }} </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                      {% if log.out2 %}
                        <td> {{ log.out2|time:"H:i" }} </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                      {% if log.in3 %}
                        <td> {{ log.in3|time:"H:i" }} </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                      {% if log.out3 %}
                        <td> {{ log.out3|time:"H:i" }} </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                      {% if log.over9 %}
                        <td> ✓ </td>
                      {% else %}
                        <td class="non"></td>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <td class="non"></td><td class="non"></td><td class="non"></td>
                    <td class="non"></td><td class="non"></td><td class="non"></td>
                    <td class="non"></td>
                  {% endif %}
                {% else %}
                  <td></td><td></td><td></td>
                  <td></td><td></td><td></td>
                  <td></td>
                {% endif %}
              {% endif %}
              </tr>
            {% endfor %}
          {% if forloop.counter > 1 %} </tr> {% endif %}
        {% endfor %}

        <!-- OFFICE -->
        {% for staff, logs in o_staffs.items %}
          <tr>
            <td>{{ staff.MaNV }}</td>
            <td><a href="{% url 'staff_detail' staff.pk %}">{{ staff.name }}</a></td>
            <td><a href="{% url 'office_detail' %}"> Văn Phòng </td>
            <td>{{ staff.position }}</td>
            <td>{{ staff.deparment }}</td>
            {% if user.is_authenticated %}
              {% if perms.summary.office_check or user.is_superuser %}
                {% if logs|length > 0 %}
                  {% for log in logs %}
                    {% if log.in1 %}
                      <td> {{ log.in1|time:"H:i" }} </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                    {% if log.out1 %}
                      <td> {{ log.out1|time:"H:i" }} </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                    {% if log.in2 %}
                      <td> {{ log.in2|time:"H:i" }} </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                    {% if log.out2 %}
                      <td> {{ log.out2|time:"H:i" }} </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                    {% if log.in3 %}
                      <td> {{ log.in3|time:"H:i" }} </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                    {% if log.out3 %}
                      <td> {{ log.out3|time:"H:i" }} </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                    {% if log.over9 %}
                      <td> ✓ </td>
                    {% else %}
                      <td class="non"></td>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <td class="non"></td><td class="non"></td><td class="non"></td>
                  <td class="non"></td><td class="non"></td><td class="non"></td>
                  <td class="non"></td>
                {% endif %}
              {% else %}
                <td></td><td></td><td></td>
                <td></td><td></td><td></td>
                <td></td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if p_staffs|length == 0 and o_staffs|length == 0 %}
    <p>Chưa có nhân viên nào trong dữ liệu.</p>
    <br>
  {% endif %}
{% endblock %}
